.DS_Store
dist
dist-ssr
*.local

/hardhat-zone/node_modules
/hardhat-zone/.env
/hardhat-zone/coverage
/hardhat-zone/coverage.json
/hardhat-zone/typechain
/hardhat-zone/cache
/hardhat-zone/artifacts
/hardhat-zone/legacyContracts
/hardhat-zone/legacySrc

/react-zone/node_modules
/.pnp
/react-zone/.pnp.js
/react-zone/coverage
/react-zone/build
/react-zone/.DS_Store
/react-zone/.env.local
/react-zone/.env.development.local
/react-zone/.env.test.local
/react-zone/.env.production.local
/react-zone/npm-debug.log*
/react-zone/yarn-debug.log*
/react-zone/yarn-error.log*